extends layout
extends activityLayout

block activityContent
  div(class="container")
    div(class="col-md-8")
      div(class="panel panel-primary")
        div(class="panel-heading ")
          h3 Hiking
        div(class="panel-body")
          div(class="panel panel-success")
            div(class="panel-heading ")
              h4 Activity Information
            div(class="panel-body activityPanel")
              div(class="row" name="panel-name")
                span(class = "col-md-3 col-md-offset-1") Activity Name
                span(class = "col-md-5") Hiking
              div(class="row" name="panel-location")
                span(class = "col-md-3  col-md-offset-1") Activity Location
                span(class = "col-md-5") Shenzhen
              div(class="row" name="panel-time")
                span(class = "col-md-3  col-md-offset-1") Activity Time
                span(class = "col-md-5") 3/7/2015
              div(class="row" name="panel-organizer")
                span(class = "col-md-3  col-md-offset-1") Activity Organizer
                span(class = "col-md-5") Cyrus
          div(class="panel panel-info")
            div(class="panel-heading")
              h4 Participants Information
            div(class="panel-body")
              label
                a(type = "button" href = "#") Cyrus,
              label
                a(href = "#") Chris,
              label
                a(href = "#") Yiran,
              label
                a(href = "#") Fiona,
              label
                a(href = "#") Layne,
              label
                a(href = "#") Xinlai
          div
            //- div(class ="col-md-1 col-md-offset-3")
            //-   button(name="accept") Accept
            //- div(class ="col-md-1 col-md-offset-3")
            //-   button(name="reject") Reject
          div(class="panel panel-danger")
                div(class="panel-heading ")
                  h4 Image Area
                div(class="panel-body imgContainer")
                    img(class="img-circle" src = "../images/detail_placeholder.jpg")
                    img(class="img-rounde" src = '../images/detail_placeholder.jpg')
                    img(class="img-thumbnail" src = "../images/detail_placeholder.jpg")
                    img(src = "#")

